@import '../../../../_include-media.scss';

.item-list {
  display: flex;
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
}

.item-list-item {
  background: #eee;
  margin: 10px;
  padding: 0;
  width: 100%;

  @include media('>=tablet') {
    width: 280px;
    min-height: 350px;
  }
}

.item-list-link {
  text-decoration: none;
}

.item-list-image {
  width: 100%;
  background: red;
}

.item-list-info {
  margin: 10px;
  padding: 10px;
}
